nav {
	background-color: $white;
	overflow: hidden;
}
.navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 72px;
}
.logo {
	z-index: 4;
	a {
		font-weight: 800;
		font-size: 18px;
		line-height: 18px;
		color: #000000;
		&:hover{
			color: $gray;
		}
	}
}
.menu {
	display: flex;
	gap: 50px;
	// .menu__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .menu__link
	&__link {
		display: flex;
		align-items: center;
		gap: 8px;
		color: $gray;
		&:hover{
			color: $lightgray;
			&::before{
				color: $lightgray;
			}
		}
		@media (max-width: $breakpoint768) {
			font-size: 40px;
		}
		@media (max-width: $breakpoint480) {
			font-size: 35px;
		}
	}
	// .menu__btn
	&__btn {
		padding: 13px 20px;
		@media (max-width: $breakpoint768) {
			font-size: 40px;
		}
		@media (max-width: $breakpoint480) {
			font-size: 25px;
			padding-left: 30vw;
			padding-right: 30vw;
		}
	}
}


.burger {
	display: none;
}

// Burger menu styles
@media (max-width: $burgerBreakpoint) {
	// .menu
	.menu {
		position: fixed;
		background: rgba($color: $lightgray, $alpha: .8);
		left: 0;
		top: 0;
		height: 100vh;
		width: 100vw;
		display: none;
		&.active {
			display: flex;
			left: 0;
			top: 0;
			height: 100vh;
			width: 100vw;
			flex-direction: column;
			pointer-events: all;
			justify-content: center;
			align-items: center;
			z-index: 2;
			animation: fade 0.1s linear;
		}
		&__btn{
			padding-left: 20vw;
			padding-right: 20vw;
		}
	}

	// .burger
	.burger {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0;
			}
			&:last-child {
				top: auto;
				bottom: 0;
			}
		}
		&.active-burger {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
