.hero {
	min-height: calc(100vh - 72px);
	width: 100%;
	position: relative;
	// .hero__bg
	&__bg {
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		width: calc(864px - 500px + (0 + 500) * (100vw - 600px) / (1440 - 600));
		height: 692px;
		@media (min-width: 1440px) {
			height: calc(692px  + (0 + 300) * (100vw - 1440px) / (3000 - 1440));
		}
		@media (max-width: 600px) {
			display: none;
		}
		img{
			object-position: left bottom;
		}
	}
	// .hero__body
	&__body {
		padding-top: 100px;
		@media (max-width:$breakpoint600) {
			padding-top: 20px;
		}
	}
	// .hero__title
	&__title {
		margin-bottom: 15px;
		width: 44%;
		@media (max-width:$breakpoint992) {
			width: 50%;
		}
		@media (max-width:$breakpoint768) {
			width: 70%;
		}
		@media (max-width:$breakpoint600) {
			width: 100%;
		}
	}
	// .hero__text
	&__text {
		margin-bottom: 63px;
		@media (max-width:$breakpoint600) {
			margin-bottom: 50px;
		}
		@media (max-width:$breakpoint480) {
			margin-bottom: 30px;
		}
	}
	// .hero__buttons
	&__buttons {
		margin-bottom: 130px;
		display: flex;
		gap: 19px;
		@media (max-width:$breakpoint600) {
			justify-content: center;
			gap: 30px;
			margin-bottom: 50px;
		}
		@media (max-width:$breakpoint480) {
			justify-content: center;
			gap: 10px;
			flex-wrap: wrap;
			margin-bottom: 30px;
		}
	}
	// .hero__btn
	&__btn {
		display: flex;
		gap: 7px;
		@media (max-width:$breakpoint480) {
			width: 100%;
		}
	}
	// .hero__subtext
	&__subtext {
		margin-bottom: 25px;
		@media (max-width:$breakpoint480) {
			margin-bottom: 15px;
		}
	}
	// .hero__items
	&__items {
		display: flex;
		gap: 80px;
		margin-bottom: 20px;
		@media (max-width:$breakpoint600) {
			justify-content: center;
			flex-wrap: wrap;
			gap: 40px;
		}
		@media (max-width:$breakpoint480) {
			gap: 20px;
		}
	}
	// .hero__item
	&__item {
		@media (max-width:$breakpoint480) {
			width: 100%;
		}
	}
}

.itemhero {
	// .itemhero__title
	@media (max-width:$breakpoint480) {
		text-align: center;
	}
	&__title {
		margin-bottom: 12px;

		font-weight: 400;
		font-size: 36px;
		line-height: 1;
		color: $black;
	}
	// .itemhero__subtitle
	&__subtitle {
		font-weight: 400;
		font-size: 14px;
		line-height: 1;
		text-transform: uppercase;
		color: $gray;
	}
}

